

<li class="list-group-item">
  <h3>{{board.heading}}</h3><br>
  <p>Submitted by :<br>{{board.author}}</p>
  <p><img class="img-thumbnal" src={{board.image}}></p>
  <div class="tag"><p>Tags: {{board.tag}}</p></div>
  {{update-board board=board update="update"}}
  <button {{action 'delete' board}}>Delete Question</button>
</li>
