<li>
  {{board.author}} {{board.heading}}
</li>






<!-- <li class="list-group-item">

{{#link-to 'board' board.id}}<h3>{{board.heading}}</h3>{{/link-to}} <br>{{board.author}}
<div class="tag"><p>{{board.tag}}</p></div>

</li> -->
