{{#if addNewBoard}}
<div class="well">
<h2>Ask Question:</h2>
  <form>
    <div class="form-group">
      <label for="author">Name</label>
      {{input class="form-control input-lg" placeholder="Please, enter your name" value=author id="author"}}
    </div>

    <div class="form-group">
      <label for="heading">Headline</label>
      {{input class="form-control input-lg" placeholder="Please, enter a headline" value=heading id="heading"}}
    </div>

    <div class="form-group">
      <label for="content">Question Content</label>
      {{input class="form-control input-lg" placeholder="Question content" value=content id="content"}}
    </div>

    <div class="form-group">
      <label for="tag">Tags</label>
      {{input class="form-control input-lg" placeholder="Add some tags" value=tag id="tag"}}
    </div>

    <div class="form-group">
      <label for="image">Gravatar Image URL</label>
      {{input class="form-control input-lg" placeholder="Yours gravatar image" value=image id="image"}}
    </div>
    <button class="btn btn-info" {{action 'saveBoard1'}}>Save Question</button>
  </form>
</div>
{{else}}
  <button class="btn btn-info" {{action 'boardFormShow'}}>Ask Question</button>
{{/if}}
