{{#if updateBoardForm}}
  <h4>Edit {{board.author}} {{board.header}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Name</label>
        {{input value=author id="outhor" placeholder=board.author}}
      </div>

      <div class="form-group">
        <label for="heading">Headline</label>
        {{input value=heading id="heading" placeholder=board.heading}}
      </div>

      <div class="form-group">
        <label for="content">Question Content</label>
        {{input value=content id="content" placeholder=board.content}}
      </div>

      <div class="form-group">
        <label for="tag">Tags</label>
        {{input value=tag id="tag" placeholder=board.tag}}
      </div>

      <div class="form-group">
        <label for="image">Gravatar Image URL</label>
        {{input value=image id="image" placeholder=board.image}}
      </div>

      <button class="btn btn-info" {{action 'update' board}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-info" {{action 'updateBoardForm'}}>Edit Your Question</button>
{{/if}}
