<div class="well">
<h3> Welcome to Software Development Question and Answer site! </h3>
<br>
<p>SDQA is a question and answer site for professional and enthusiast programmers. It's built and run by you as part of the Stack Exchange network of Q&A sites. With your help, we're working together to build a library of detailed answers to every question about programming.</p>
</div>
<div class="well">
  <h3>Current Questions: </h3>
</div>
<ul>
  {{#each model.boards as |board|}}
    {{board-tile board=board}}
  {{/each}}
</ul>
{{new-board saveBoard2="saveBoard3"}}


<h2> All Answers </h2>

<ul>
  {{#each model.answers as |answer|}}
    <li>
    <p>Submitted by :<br><h4><strong>{{answer.author}}</strong></h4></p>
    <p><img class="img-thumbnal" src={{answer.image}}></p>
    <div class="content"><h4>Answer: {{answer.content}}</h4></div>
    </li>
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer"}}
